<br>
<div class="card">
  <div class="card-block">
    <h4 class="card-title text-center"><span class="badge badge-primary">Change Password</span></h4>
    <div class="container">
      <form class="form" #f="ngForm" (ngSubmit)="onSubmit()">


        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Old Password</label>
          <div class="col-md-5">
            <input type="password" [(ngModel)]="oldPassword" minlength="6" #oPassword="ngModel" required class="form-control" name="password"
              placeholder="Password">
            <small class="form-control-feedback text-danger" [hidden]="oPassword.valid || (oPassword.pristine&& oPassword.untouched && !f.submitted)">
              Shouldn't be less than 6 digits/chars.
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">New Password</label>
          <div class="col-md-5">
            <input type="password" [(ngModel)]="newPassword" minlength="6" #password="ngModel" required class="form-control" name="password"
              placeholder="Password">
            <small class="form-control-feedback text-danger" [hidden]="password.valid || (password.pristine&& password.untouched && !f.submitted)">
              Shouldn't be less than 6 digits/chars.
            </small>
          </div>
        </div>


        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid">Update</button>
            <button class="btn btn-primary" [routerLink]="['../']">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<br>